@import '../components/logo';

.header {
    padding: 25px 0;
    border-bottom: 1px solid #ececec;


&__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

&__nav {
    display: flex;
}

&__menu {
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

&__menu-item {
    margin: 0 25px 0 25px;
}

&__menu-link {
    font-weight: 500;
    transition: 0.5s;
}

&__menu-link:hover {
    color: var(--blue-color);
}

&__address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

&__address-item {
    margin-left: 30px;
}

&__address-link {
    color: var(--gray-color);
    transition: 0.5s;
    font-weight: 500;
    display: flex;
    align-items: center;
}

&__address-link:hover {
    color: var(--blue-color);
}

&__address-link:hover .header__address-icon {
    fill: var(--blue-color)
}

&__address-icon {
    width: 16px;
    height: 16px;
    display: inline;
    margin-right: 10px;
    transition: 0.5s;
    fill: var(--gray-color)
}
}

// big tasty menu

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__mobile {
    visibility: visible;
    left: 0;
    top: 0
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 13px;
    right: 18px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 11;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
    z-index: 11;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    visibility: hidden;
    top: -100%;
    left: -100%;
    width: 102%;
    height: 100%;
    margin: 0;
    padding: 48px 40px;
    transition-duration: .25s;
    background-color: #fff;
    z-index: 10;
}
.mobile__nav-item {
    margin-bottom: 32px;
}
.mobile__nav-item-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 32px;
}

.mobile__nav-item-link:hover {
    color: var(--blue-color);
}
.mobile__callto {
    font-weight: 500;
    font-size: 34px;
    color: var(--blue-color)
}
.mobile__mailto {
    margin: 32px 0 64px 0;
    font-weight: 500;
    font-size: 24px;
}
.mobile__mailto-link {
    color: var(--gray-color);
}












.mobile__socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 18px; 
}
.mobile__socials-item {
    color: var(--blue-color)
}
.mobile__slash {
    width: 22px;
    height: 0px;
    left: 135px;
    top: 726px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
}