._inside {
    padding: 94px 0;
}

.pf__buttons {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
}

.pf__button {
    color: #2f303a;
    padding: 13px 22px;
    margin: 8px;
    background-color: #f5f4fa;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pf__button:hover,
.pf__button:focus {
    background-color: var(--blue-color);
    color: #f5f4fa;
}

.pf__pics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pf__item {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin: 15px 0;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4,
            0,
            0.2,
            1);
}

.pf__box {
    position: relative;
    // width: 370px;
    // height: 294px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.pf__img {
    vertical-align: bottom;
    width: 100%;
}

.pf__item:hover .pf__overlay {
    transform: translatey(0);
}

.pf__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.pf__overlay {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    padding: 53px 24px;
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(+120%);
    transition: transform 250ms ease;

}

.pf__overlay>p {
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 18px;
}

.pf__text {
    padding: 20px 24px;
}

.pf__header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}