
.what-we-do {
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;


&__item-pic {
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.mobile-hide {
    
}
&__svgs {
    height: 70px;
}

.icon {
    display: inline-block;
    width: 70px;
    height: 70px;
}

&__main-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #212121;
}

&__header {
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

/* 3 pics */
&__pics {
    flex-wrap: wrap;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
}

&__pics-item {
    position: relative;
}

&__pics-text {
    position: absolute;
    width: 370px;
    height: 70px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    bottom: 7px;
    padding: 27px 0;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
}
}